body {
    margin: 0;
    background-color: #333;
}

.brand {
    margin-left: 10px;
    color: white;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
        float: left;

        a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 14px;
            text-decoration: none;
        }

        a:hover {
            background-color: #111;
        }

    }

    li.right {
        float: right;
    }
}

.welcome {
    padding: 10px;
    color: white;
    text-align: center;
}

.trySong {
    display: flex;
    h3 {
        text-align: center;
        color: white;
        padding: 10px;
        margin: 10px;
    }
}

footer {
    text-align: center;
    color: white;

    ul.bottom-nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        li {
            float: none;

            a {
                display: block;
                text-align: center;
                padding: 14px 14px;
                text-decoration: none;
                color: white;
            }

            a:hover {
                background-color: #111;
            }

        }
    }
}




@media screen and (max-width: 600px) {
    .navbar li {
        float: none;
        width: 100%;
    }

    .trySong {
        display: flex;
        flex-direction: column;
    }

}